/*
Colors used:
Primary Color (Blue): #094FBE;
Secondary Color (off_white): #F1F1F1;
Secondary Color (off_black): #111111;
*/

@font-face{
    font-family: 'Mori';
    src: url("./webfonts/PPMori/PPMori-Book.woff") format("woff");
}

h1 {
    font-family: 'Mori';
}

body {
    background-color: #F1F1F1;
}