/*COLOURS USED----------------------
Primary Color (Blue): #094FBE;
Secondary Color (off_white): #F1F1F1;
Secondary Color (off_black): #111111;
-----------------------------------*/
/*FONT IMPORT*/
/*Extralight*/
  @font-face {
  font-family: 'Mori',sans-serif;
  src: url('./web-fonts/PPMori/PPMori-Extralight.woff') format('woff');
  font-weight:100;
  font-style: normal;
  }
  @font-face {
  font-family: 'Mori',sans-serif;
  src: url('./web-fonts/PPMori/PPMori-ExtralightItalic.woff') format('woff');
  font-weight:100;
  font-style: italic;
}
/*Book*/
  @font-face {
  font-family: 'Mori',sans-serif;
  src: url('./web-fonts/PPMori/PPMori-Book.woff') format('woff');
  font-weight:300;
  font-style: normal;
  }
  @font-face {
  font-family: 'Mori',sans-serif;
  src: url('./web-fonts/PPMori/PPMori-BookItalic.woff') format('woff');
  font-weight:300;
  font-style: italic;
}
/*Regular*/
  @font-face {
  font-family: 'Mori',sans-serif;
  src: url('./web-fonts/PPMori/PPMori-Regular.woff') format('woff');
  font-weight:400;
  font-style: normal;
  }
  @font-face {
  font-family: 'Mori',sans-serif;
  src: url('./web-fonts/PPMori/PPMori-RegularItalic.woff') format('woff');
  font-weight:400;
  font-style: italic;
}
/*Semibold*/
  @font-face {
  font-family: 'Mori',sans-serif;
  src: url('./web-fonts/PPMori/PPMori-SemiBold.woff') format('woff');
  font-weight:600;
  font-style: normal;
  }
  @font-face {
  font-family: 'Mori',sans-serif;
  src: url('./web-fonts/PPMori/PPMori-SemiBoldItalic.woff') format('woff');
  font-weight:600;
  font-style: italic;
}
/*Extrabold*/
  @font-face {
  font-family: 'Mori',sans-serif;
  src: url('./web-fonts/PPMori/PPMori-ExtraBold.woff') format('woff');
  font-weight:800;
  font-style: normal;
  }
  @font-face {
  font-family: 'Mori',sans-serif;
  src: url('./web-fonts/PPMori/PPMori-ExtraBoldItalic.woff') format('woff');
  font-weight:800;
  font-style: italic;
}


/*ID*/
/*home*/
#hero {
  background-color: #F1F1F1;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
  #hero h1 {
    font-size: 1.5em;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0;
    color:#094FBE
    }
  #hero h4 {
    font-size: 1.25em;
    margin-top: 0;
    }
  #hero p {
    font-size: .84em;
    }
#case_studies .row{
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  padding-bottom: 25px;
  border-bottom: solid #7f7f7f;
  border-bottom-width: 1px;
  }
#subjects h4{
  margin-bottom: 0;
}
/*about*/
#skills h3{
  margin-top: 0px;
  }
/*general*/
#contact {
  text-align: center;
  }
    .icon_link {
      padding: 4px;
      }
* {
  box-sizing: border-box;
}
.container {
  padding: 0 15px;
}

/*case studies*/
.area{
  border-bottom: solid #7f7f7f;
  border-bottom-width: 1px;
  padding-bottom: 52px;
  }
  .area h2 {
    margin-top: 52px;
    color: #094FBE;
  }
  .area h3 {
    margin-top: 40px;
    margin-bottom: 5px;
  }
.area_about {
  border-bottom: solid #7f7f7f;
  border-bottom-width: 1px;
  padding-bottom: 52px;
}
.logo {
  max-width: 140px;
}
.persona{
  display: inline-block; width: 60%; height: 60%;
  /*min-width: 140px; min-height: 140px; max-width: 140px; max-height: 140px;*/
}
.col-md-persona{
  text-align: center;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}


/*TYPE RULES*/
/*body*/
body {
    background-color: #F1F1F1;
    font-family: 'Mori', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #111111;
}
/*headings*/
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 800;
    font-style: normal;
  }
  h2 {
    font-size: 2.25em;
    font-weight: 600;
    font-style: normal;
  }
  h3 {
    font-size: 1.75em;
    font-weight: 400;
    font-style: normal;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 100;
    font-style: normal;
  }
  b {
    color: #094FBE;
}



main {
  padding-top:110px;
}
header {
  /*dropshadow*/
  background-color: #F1F1F1;
  /*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #F1F1F1; 
	border: solid #F1F1F1 1px; 
	box-shadow: -3px 19px 24px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: -3px 19px 24px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: -3px 19px 24px rgba(0, 0, 0, 0.1)  ; 
  /*position*/
  position: fixed;
  /*text-align: center;*/
  width: 100%;
  /*padding*/
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  /*margin
  margin: 10px;*/
  /*border*/
  border-bottom: 3px;
}


/*NAVIGATION*/
/*general*/
  /*.nav {
    display: inline-block; width: 100%;
  }*/
  .navtoggle li:not(:last-child) {
    display: none;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
  .navtoggle li .icon {
    position: absolute;
    padding-right: 0;
    right: 0;
    top: 2px;
    font-size: 20px;
  }
  .navtoggle.responsive li  {
    display: block;
  }
  /*nav styling*/
  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }
  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #72a5f8;
  }
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }
/*lists*/
  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  /*nav > ul > li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }*/
  nav > ul > li > a:visited {
    padding: 0 15px;
    font-weight: 700;
    color: #4a4a4a;
}


/*IMAGE RULES*/
  img {
    width: 100%;
}
/*TABLE RULES*/
table {
  margin-top: 30px;
  margin-bottom: 80px;
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: #094FBE;
  color: #F1F1F1;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


/*BUTTON STYLING*/
  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block*/
    background-color: #094FBE;
    color: #F1F1F1; /* override default link colour */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #dadada; /* border-width, type, colour */
    transition: 0.2s opacity;
  }
  .button_span {
    display: inline-block; /*full span*/
    width: 100%;
    background-color: #094FBE;
    color: #F1F1F1; /* override default link colour */
    font-weight: 400;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #dadada; /* border-width, type, colour */
    transition: 0.2s opacity;
  }
/*button_general*/
  .button:hover {
    color: #F1F1F1;
    opacity: 0.8; /* reduces opacity of button to 80% */
    text-decoration: underline;
  }
  .button:visited {
    color:#bababa
  }
  .button:active {
    color: #111111;
  }
  /*button_span*/
  .button_span:hover {
    color: #F1F1F1;
    opacity: 0.8; /* reduces opacity of button to 80% */
    text-decoration: underline;
  }
  .button_span:visited {
    color:#bababa
  }
  .button_span:active {
    color: #111111;
  }
  /*button_contact*/
  .button.contact {
    background-color: transparent;
    color: #094FBE;
    /*text-transform: uppercase;*/
    border: 2px solid #094FBE;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .button.contact:hover {
    background-color: #094FBE;
    color: #F1F1F1;
  }
  .button.contact:active {
    color: #111111;
}




/*HYPERLINK STYLING*/
  a {
    color: #0d59ef;
    text-decoration: none; /* no underlining, before hover */
  }
  a:hover,
  a:focus {
  color: #cc6540;
  text-decoration: underline; /* underlining, on hover */
  }
  a:visited { /* visited link */
    color: #797979;
  }
  a:active { /* selected link */
    color: #111111;
}


/*ANIMATIONS*/
.toronto-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}


/*DEVICES*/
/*M 640px or higher*/
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 10px 0 10px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 0px;
  }
  nav > ul {
    margin: 1em 0;
  }
  nav > ul > li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .col-md-persona{
    width:50%;
    padding: 28px;
    text-align: center;
  }
  .persona{
    width: 200px; height: 200px;
    /*min-width: 140px; min-height: 140px; max-width: 140px; max-height: 140px;*/
  }
  .col-flex-1 {
    display:flex;
    padding:0;
  }
  .col-flex-1 > * {
    width:calc(100% / 1);
    padding:1rem;
    padding-bottom: 25px;
  }
  .col-flex-3 {
    display:flex;
    padding:0;
  }
  .col-flex-3 > * {
    width:calc(100% / 3);
    padding:1rem;
    padding-bottom: 25px;
  }
  .col-flex-2 {
    display:flex;
    padding: 0;
  }
  .col-flex-2 > * {
    width:calc(100% / 2);
    padding-bottom: 25px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .logo {
    max-width: 200px;
    margin: 10px 0;
  }
  #hero h1 {
    font-size: 2.75em;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0;
    }
  #hero h4 {
    font-size: 1.75em;
    margin-bottom: .5em;
    }
  .area h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }
}


/*L 1024px or higher*/
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }
  .col-lg-5 {
    width: 40%;
  }
  .col-md-persona{
    width:25%;
    padding: 28px;
    text-align: center;
  }
  .persona{
    width: 220px; height: 220px;
    /*min-width: 140px; min-height: 140px; max-width: 140px; max-height: 140px;*/
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    max-width: 200px;
    margin: 10px 0;
  }
  #hero h1 {
    font-size: 3.75em;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0;
    }
  #hero h4 {
    font-size: 2.75em;
    margin-bottom: .5em;
    }
  #hero p {
    font-size: 1em;
    display: inline-block;
    width: 50%;
  }
}
/*XL 1440px or higher*/
@media only screen and (min-width: 1440px) {

}

/*ANIMATION*/
@keyframes leaves-move {
  from {transform: translate(0,0px);}
  to {transform: translate(20px,0px);}
}

.leaves-ground {
  animation: 3s leaves-move infinite alternate linear;
}